.wrapper {
  position: relative;
  width: 100%;
  min-width: 150px;
}
.button_variant {
  .content {
    border-radius: 16px;
    border: 1px solid var(--color-grey-300);
    padding: 20px;
  }
  .content_open {
    padding: 20px;
    background-color: var(--color-primary-black);
    color: var(--color-secondary-white);
  }
  .modal {
    -webkit-box-shadow: 0 0 14px -6px var(--color-primary-black);
    -moz-box-shadow: 0 0 14px -6px var(--color-primary-black);
    box-shadow: 0 0 14px -6px var(--color-primary-black);
  }
  .modal_open {
    margin-top: 10px;
    padding: 30px;
  }
}

.text_variant {
  color: inherit;
  .modal_open {
    margin-bottom: 20px;
  }
}
.content {
  font-weight: bold;
  width: auto;
  transition: all 0.2s;
  z-index: 4;
  position: relative;
  background-color: white;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.content:hover {
  cursor: pointer;
  border-color: var(--color-primary-black);
  transition: all 0.2s;
}
.modal {
  color: var(--color-primary-black);
  border-radius: 16px;
  overflow: hidden;
  width: 100%;
  z-index: 1;
  height: 0;
  transition:
    height 0.2s,
    top 0.2s,
    opacity 0.4s;
  opacity: 0;
}
.modal_open {
  top: auto;
  overflow: visible;
  z-index: 5;
  background-color: white;
  height: auto;
  transition:
    height 0.2s,
    transform 0.2s,
    opacity 0.4s;
  opacity: 1;
}
