@import '../../styles/mixins/typography.module';
.wrapper {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.51);
    z-index: 10;
  }
  &__open {
    display: block;
  }
}
.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  top: 0;
  width: 30%;
  min-width: 600px;
  height: 100%;
  background-color: white;
  z-index: 15;
  padding: 32px;
}
.main {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
  overflow-y: auto;
  margin: 0;
  height: 70%;
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  &_title {
    text-align: center;
    width: 100%;
  }
  &_button {
    padding: 10px;
    background-color: transparent;
    cursor: pointer;
    margin-left: auto;
  }
}
.footer {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  button {
    margin: 0 auto;
  }
  &_container {
    border-top: 1px solid var(--color-grey-300);
    padding-top: 24px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
    @include body_text_p1_20;
  }
  &_title {
  }
  &_subtotal {
  }
}
@media (max-width: 600px) {
  .container {
    min-width: 100%;
  }
}
