.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(black, 0.6);
  //background-color: darkgreen;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  position: relative;
  width: 200px;
}
@mixin circle {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 1px solid;
}
.black_circle {
  @include circle;
  background-color: var(--color-primary-black);
  -webkit-box-shadow: 8px 0 90px 0 rgba(255, 255, 255, 0.5);
  -moz-box-shadow: 8px 0 90px 0 rgba(255, 255, 255, 0.5);
  box-shadow: 8px 0 90px 0 rgba(255, 255, 255, 0.5);
  left: 0;
  z-index: 10;
  animation: blackCircleAnimation 2s ease-in-out infinite;
}
.white_circle {
  @include circle;
  border-color: var(--color-secondary-white);
  left: 10px;
  z-index: 5;
  animation: whiteCircleAnimation 2s ease-in-out infinite;
  -webkit-box-shadow: 8px 0 30px 0 rgba(255, 255, 255, 0.5);
  -moz-box-shadow: 8px 0 30px 0 rgba(255, 255, 255, 0.5);
  box-shadow: 8px 0 30px 0 rgba(255, 255, 255, 0.5);
}
.transparent_circle {
  @include circle;
  background: transparent;
  border-color: var(--color-secondary-white);
  left: 20px;
  z-index: 1;
  animation: transparentCircleAnimation 2s ease-in-out infinite;
  -webkit-box-shadow: 8px 0 50px 0 rgba(255, 255, 255, 0.5);
  -moz-box-shadow: 8px 0 50px 0 rgba(255, 255, 255, 0.5);
  box-shadow: 8px 0 50px 0 rgba(255, 255, 255, 0.5);
}
@keyframes transparentCircleAnimation {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(100%);
    scale: 1.3;
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes whiteCircleAnimation {
  0% {
    transform: translateX(-80%);
  }
  50% {
    transform: translateX(80%);
    scale: 1.2;
  }
  100% {
    transform: translateX(-80%);
  }
}
@keyframes blackCircleAnimation {
  0% {
    transform: translateX(-60%);
  }
  50% {
    transform: translateX(60%);
  }
  100% {
    transform: translateX(-60%);
  }
}
