@import '../../../styles/mixins/typography.module';
.wrapper {
  max-width: 1170px;
  margin: 80px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}
.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: var(--color-primary-black);
  .title {
    @include header_t7;
    color: inherit;
  }
  .link {
    @include underline_text_u1;
    color: inherit;
    opacity: 0.7;
    transition: opacity 0.3s;
    &:hover {
      opacity: 1;
      transition: opacity 0.3s;
    }
  }
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
.item {
  width: calc(33% - 20px);
}
@media (max-width: 991px) {
  .item {
    width: calc(50% - 30px);
  }
}
@media (max-width: 576px) {
  .wrapper {
    gap: 15px;
    margin: 30px 20px;
  }
  .item {
    width: 100%;
  }
  .header {
    .title {
      @include header_t8;
    }
  }
}
@media (max-width: 480px) {
  .wrapper {
    gap: 15px;
    margin: 20px 10px;
  }
}
@media (max-width: 480px) {
  .wrapper {
    gap: 15px;
    margin: 20px 0;
  }
  .header {
    .title {
      font-size: 16px;
      line-height: 18px;
    }
    .link {
      font-size: 14px;
      line-height: 16px;
    }
  }
}
