@import '../../styles/mixins/typography.module';
.wrapper {
  width: 100%;
  padding: 24px 0;
  border-top: 1px solid var(--color-grey-500);
  border-bottom: 1px solid var(--color-grey-500);
  display: flex;
  gap: 24px;
  &:first-child {
    border-top: none;
  }
}
.main {
  padding: 24px 20px;
  background: var(--color-secondary-white-smoke);
  border-radius: 16px;
  min-width: 200px;
  .author {
    @include body_text_p2_18;
    font-weight: 600;
    margin-bottom: 24px;
  }
  .reviewing {
    @include body_text_p3_16;
    &_title {
      font-weight: bolder;
    }
    &_modelName {
      font-weight: 500;
    }
  }
}
.content {
  .stars {
    display: flex;
    gap: 8px;
    margin-bottom: 12px;
  }
  .summary {
    @include body_text_p2_18;
    margin-bottom: 16px;
  }
  .text {
    margin-bottom: 20px;
  }
  .helpful {
    color: var(--color-secondary-steel);
    display: flex;
    gap: 8px;
    align-items: center;
    &_title {
    }
    input[type='checkbox'] {
      display: none;
      &:checked + label svg {
        fill: var(--color-secondary-steel);
      }
    }
    label {
      cursor: pointer;
      display: flex;
      gap: 5px;
      align-items: flex-end;
      &:hover svg {
        fill: var(--color-secondary-steel);
      }
    }
  }
}
@media (max-width: 576px) {
  .wrapper {
    flex-direction: column;
    padding: 20px;
  }
}
