.wrapper {
  min-width: 330px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  transition: all 0.4s;
  border-radius: 36px;
}
.wrapper:hover {
  background-color: var(--color-grey-100);
  cursor: pointer;
  transition: all 0.4s;
}
.container {
  border-radius: 36px;
  border: 1px solid var(--color-grey-300);
  padding: 17px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.list {
  width: 100%;
  transition:
    top 0.4s,
    height 0.4s,
    opacity 0.2s;
  position: absolute;
  top: 0;
  height: 0;
  opacity: 0;
  z-index: -1;
  border: 1px solid var(--color-grey-300);
  border-radius: 36px;
  margin-top: 10px;
  overflow: hidden;
}
.list_open {
  height: auto;
  transition:
    top 0.4s,
    height 0.4s,
    opacity 0.2s;
  opacity: 1;
  top: 100%;
  z-index: 100;
}
.list_item {
  padding: 17px 30px;
  background-color: var(--color-secondary-white);
}
.list_item_active {
  background-color: var(--color-grey-300);
}
.list_item:not(:last-child) {
  border-bottom: 1px solid var(--color-grey-300);
  transition: all 0.4s;
}
.list_item:hover {
  cursor: pointer;
  background-color: var(--color-grey-100);
  transition: all 0.4s;
}
.list_item_active:hover {
  background-color: var(--color-grey-300);
  cursor: not-allowed;
}
.content {
}
.button {
  background-color: transparent;
  cursor: pointer;
}
.icon {
  fill: var(--color-primary-black);
}
