@import '../../../styles/mixins/typography.module';
$shadow-color: var(--color-primary-black);
.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--color-secondary-white-smoke);
  -webkit-box-shadow: 0px 0px 10px 0px $shadow-color;
  -moz-box-shadow: 0px 0px 10px 0px $shadow-color;
  box-shadow: 0px 0px 30px -10px $shadow-color;
  border-radius: 24px;
  padding: 24px;
  height: 100%;
  justify-content: space-between;
  img {
    border-radius: 10px;
  }
}
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.price {
  @include body_text_p4_14;
  color: var(--color-secondary-steel);
}
.button {
}
.title {
  @include body_text_p3_16;
  color: var(--color-primary-black);
}
.category {
  @include body_text_p4_14;
  color: var(--color-secondary-steel);
}
