.values {
  display: flex;
  width: 100%;
  left: 0;
  justify-content: space-between;
  position: absolute;
  bottom: -30px;
}
.values__input {
  display: flex;
  height: 30px;
  max-width: 100px;
  gap: 3px;
  &:first-child {
    text-align: left;
  }
  &:last-child {
    text-align: right;
  }
}
