@import '../../styles/mixins/typography.module';
.wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  flex-wrap: wrap;
}
.image {
  border: 1px solid var(--color-grey-300);
  border-radius: 24px;
  overflow: hidden;
  flex: 0 1 calc(50% - 10px);
  img {
    display: block;
    width: 100%;
    height: 100%;
  }
}
.content {
  flex: 1 0 calc(50% - 10px);
  display: flex;
  gap: 16px;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  &_title {
    @include body_text_p1_20;
  }
  &_color {
    @include body_text_p2_18;
    color: var(--color-secondary-steel);
  }
  &_size {
    @include body_text_p2_18;
    color: var(--color-secondary-steel);
  }
}
.price {
  @include body_text_p1_20;
  flex: 0 1 auto;
}
.amount {
  border: 1px solid var(--color-grey-300);
  border-radius: 24px;
  padding: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  button {
    background-color: transparent;
    padding: 5px;
    cursor: pointer;
    &:disabled {
      cursor: not-allowed;
    }
  }
}
.total {
  margin-left: auto;
  margin-top: auto;
  margin-bottom: 20px;
}
.button {
  align-self: center;
}
@media (max-width: 600px) {
  .wrapper {
    min-width: 100%;
    flex-wrap: wrap;
  }
  .content {
    flex: 1 0 100%;
    height: auto;
    border-bottom: 1px solid var(--color-primary-black);
  }
  .image {
    flex: 0 0 50%;
  }
}
@media (max-width: 400px) {
  .image {
    flex: 0 0 100%;
  }
}
