@import '../../styles/mixins/typography.module';
.wrapper {
  height: 100%;
  width: 100%;
  max-height: 576px;
  position: relative;
}
.slide {
  border-radius: 20px;
  overflow: hidden;
  height: 576px;
  display: block;
  font-size: 0;
  line-height: 0;

  &__wrapper {
    background-color: red;
    border-radius: 20px;
    font-size: 0;
    line-height: 0;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 20px;
    }
  }
}
.dot {
  width: 12px;
  height: 12px;
  background-color: var(--color-secondary-white);
  border-radius: 100%;
  cursor: pointer;
  &__active {
    background-color: var(--color-primary-black);
  }
}
.pagination {
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 100;
  margin-bottom: 2px;
  gap: 8px;
}
.hero__content {
  z-index: 1000;
  position: absolute;
  bottom: 28px;
  left: 28px;
  color: var(--color-primary-black);
}
.hero__title {
  @include header_t2;
  color: var(--color-secondary-white);
  max-width: 60%;
  margin-bottom: 40px;
  user-select: none;
}
@media (max-width: 992px) {
  .hero__title {
    @include header_t4;
  }
}
@media (max-width: 576px) {
  .hero__title {
    @include header_t5;
  }
}
@media (max-width: 480px) {
  .hero__content {
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    padding: 15px;
    bottom: 20%;
    button {
      margin: 0 auto;
    }
  }
  .hero__title {
    max-width: 100%;
    font-size: 30px;
  }
  .pagination {
    transform: translateY(-20px);
    gap: 30px;
  }
}
@media (max-width: 360px) {
  .hero__content {
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    padding: 15px;
  }
  .hero__title {
    max-width: 100%;
    font-size: 25px;
    line-height: 30px;
  }
}
