@import '../../styles/mixins/typography.module';
.wrapper {
  width: 100%;
  margin-top: 32px;
}
.header {
  display: flex;
  flex-wrap: wrap;
  .button {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-bottom: 24px;
  }
  .amount {
    width: 100%;
    @include body_text_p2_18;
    padding-bottom: 24px;
    border-bottom: 1px solid var(--color-grey-500);
    margin-bottom: 24px;
  }
}
.container {
  display: flex;
  flex-direction: column;
}
