@import '../../../styles/mixins/typography.module.scss';
.wrapper {
  padding: 80px 20px;
  width: 100%;
  background-color: var(--color-primary-black);
  color: var(--color-secondary-white);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.container {
  max-width: 1170px;
  width: 100%;
  @include body_text_p3_16;
  color: var(--color-secondary-white);
  display: flex;
  gap: 30px;
}
.sopa {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  width: 30%;
  .info {
    margin-top: 30px;
  }
  .input {
    width: 100%;
  }
}
.list {
  width: calc(70% / 4);
  display: flex;
  flex-direction: column;
  gap: 20px;
  .list_title {
    @include body_text_p2_18;
    font-weight: bold;
    margin-bottom: 4px;
  }
  .list_item {
  }
}
.socials {
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: calc(70% / 4);
  .socials_item {
    display: flex;
    align-items: center;
    gap: 12px;
  }
}
@media (max-width: 991px) {
  .container {
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px 30px;
    text-align: center;
  }
  .sopa {
    width: 100%;
    align-items: center;
    .input {
      max-width: 500px;
    }
  }
  .list {
    align-items: center;
    width: calc(33% - 30px);
  }
}
@media (max-width: 576px) {
  .list {
    width: 100%;
  }
}
