:root {
  //Colors
  --color-primary-fresh-green: #c1f651;
  --color-primary-black: rgb(2, 2, 29);

  --color-secondary-steel: #75869c;
  --color-secondary-white-smoke: #f2f2f2;
  --color-secondary-white: #ffffff;

  --color-other-yellowish-green: #81d376;
  --color-other-purple-mimosa: #a441ea;
  --color-other-orangy-red: #f14e2e;
  --color-other-none: #787878;
  --color-other-reddish-orange: #fe7b1e;
  --color-other-yellow: #ffda40;
  --color-other-orangy-yellow: #fdf9e3;
  --color-other-blue: #353560;
  --color-other-yellowish-green--light: #cce1c0;
  --color-other-dodger-blue: #3184ff;

  --color-grey-900: #161f42;
  --color-grey-800: #545c7c;
  --color-grey-700: #767b92;
  --color-grey-600: #999dae;
  --color-grey-500: #b7bac9;
  --color-grey-400: #d2d5df;
  --color-grey-300: #e3e5ed;
  --color-grey-200: #eff1f8;
  --color-grey-100: #f8f9fd;
  //Colors
}
