.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.text {
  font-size: 28px;
  line-height: 28px;
  color: var(--color-primary-black);
  text-transform: uppercase;
}
body[data-theme='dark'] .text {
  color: var(--color-secondary-white);
  font-family: var(--font-noto);
}
.wrapper[data-theme='dark'] .text {
  color: var(--color-secondary-white);
}
@media (max-width: 380px) {
  .text {
    font-size: 14px;
    line-height: 15px;
  }
  .wrapper {
    flex-direction: column;
    gap: 1px;
    svg {
      width: 24px;
      height: 24px;
    }
  }
}
