.icon_fill {
  fill: var(--color-primary-black);
}
.icon_stroke {
  stroke: var(--color-primary-black);
}
.icon_fill_dark {
  fill: var(--color-secondary-white);
}
.icon_stroke_dark {
  stroke: var(--color-secondary-white);
}
