@mixin button-hover {
  color: white;
  background-color: black;
  border-color: black;
  transition: all 0.4s;
}
@mixin button--disabled {
  background-color: #f2f2f2;
  border-color: #f2f2f2;
  color: #c7c7c7;
  cursor: not-allowed;
}
$icon-content-color: #02021d;
$icon-content-color_disabled: #c7c7c7;

.common {
  color: inherit;
  border: 1px solid black;
  border-radius: 32px;
  background-color: transparent;
  padding: 17px 24px;
  cursor: pointer;
  transition: all 0.4s;
}
.common:hover {
  @include button-hover;
}
.common:disabled {
  @include button--disabled;
}
.common:disabled:hover {
  @include button--disabled;
}

.primary {
  color: inherit;
  border-radius: 32px;
  padding: 17px 24px;
  background-color: var(--color-primary-fresh-green);
  border: 1px solid transparent;
  transition: all 0.4s;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.primary:hover {
  @include button-hover;
}
.primary:disabled {
  @include button--disabled;
}
.primary:disabled:hover {
  @include button--disabled;
}
.filter {
  padding: 16px 32px;
  background-color: #f8f9fd;
  border: 1px solid #c7c7c7;
  border-radius: 4px;
  color: $icon-content-color;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  gap: 16px;
  font-size: 18px;
  line-height: 22px;
}
.icon {
  stroke: $icon-content-color;
}
.filter:hover {
  @include button-hover;
}
.filter:hover .icon {
  stroke: white;
  transition: 0.4s;
}
.filter:disabled {
  @include button--disabled;
}
.filter:disabled .icon {
  stroke: $icon-content-color_disabled;
}
.filter:disabled:hover {
  @include button--disabled;
}
.filter:disabled:hover .icon {
  @include button--disabled;
  stroke: $icon-content-color_disabled;
}

.back {
  padding: 12px 24px;
  background-color: transparent;
  border: 1px solid #c7c7c7;
  border-radius: 16px;
  color: $icon-content-color;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  gap: 12px;
  font-size: 16px;
  line-height: 22px;
}
.back:hover {
  @include button-hover;
}
.back:hover .icon {
  stroke: white;
  transition: 0.4s;
}
.back:disabled {
  @include button--disabled;
}
.back:disabled .icon {
  stroke: $icon-content-color_disabled;
}
.back:disabled:hover {
  @include button--disabled;
}
.back:disabled:hover .icon {
  @include button--disabled;
  stroke: $icon-content-color_disabled;
}

.date {
  padding: 12px 16px;
  background-color: transparent;
  border: 1px solid #c7c7c7;
  border-radius: 8px;
  color: $icon-content-color;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  gap: 10px;
  font-size: 16px;
  line-height: 22px;
}
.date span {
  order: 1;
}
.date svg {
  order: 2;
}
.date:hover {
  @include button-hover;
}
.date:hover .icon {
  stroke: white;
  transition: 0.4s;
}
.date:disabled {
  @include button--disabled;
}
.date:disabled .icon {
  stroke: $icon-content-color_disabled;
}
.date:disabled:hover {
  @include button--disabled;
}
.date:disabled:hover .icon {
  @include button--disabled;
  stroke: $icon-content-color_disabled;
}
@media (max-width: 450px) {
  .filter {
    width: 100px;
    height: 50px;
    padding: 2px;
    font-size: 14px;
    line-height: 14px;
    gap: 5px;
    svg {
      height: 12px;
      width: 12px;
    }
  }
}
