.wrapper {
  width: 50%;
  padding: 0 50px 50px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
  max-width: 300px;
  max-height: calc(100vh - 83px);
  overflow: scroll;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
.title {
  border-bottom: 1px solid var(--color-grey-600);
  width: 100%;
  text-align: center;
  padding: 20px;
}
.button {
  display: none;
}
.container {
  height: 1000px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
@media (max-width: 1000px) {
  .wrapper {
    max-width: 200px;
  }
}
@media (max-width: 768px) {
  .wrapper {
    max-width: 100%;
    width: 100%;
    overflow: hidden;
    gap: 40px;
    margin-bottom: 0;
    padding: 0 20px;
    flex-wrap: nowrap;
    flex-direction: column;
  }
  .container {
    flex-direction: row;
    display: none;
    height: 100%;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 30px;
    div[datatype='dropdown'] {
      width: calc(50% - 15px);
    }
  }
  .button {
    display: flex;
  }
  .button_open {
    background-color: var(--color-grey-300);
    border-color: var(--color-primary-black);
    svg {
      fill: var(--color-primary-black);
    }
    & + .container {
      display: flex;
    }
  }
  .title {
    display: none;
  }
}
@media (max-width: 450px) {
  .container {
    div[datatype='dropdown'] {
      width: 100%;
    }
  }
}
