.wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  max-width: 470px;
  width: 100%;
}
@keyframes errorAnimation {
  0% {
    transform: translateX(-2%);
  }
  50% {
    transform: translateX(2%);
  }
  100% {
    transform: translateX(0%);
  }
}
.error {
  color: var(--color-other-orangy-red);
  animation: errorAnimation 0.2s linear;
  animation-iteration-count: 2;
}
