* {
  box-sizing: border-box;
  border: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul {
  margin: 0;
  padding: 0;
}
input,
fieldset {
  outline: none;
}
body[data-theme='dark'] {
  background-color: var(--color-primary-black);
}
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
}
main {
  flex: 1 0 auto;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  max-width: 1440px;
  margin: 20px auto;
}
footer {
  flex-shrink: 0;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
