@import '../styles/mixins/typography.module';
.hero {
  width: 100%;
  border-radius: 16px;
  padding: 34px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.partners {
  background-color: var(--color-secondary-white-smoke);
  padding: 80px 80px;
  margin: 20px 0;
  border-radius: 24px;
  display: flex;
  gap: 60px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.partners__title {
  @include header_t5;
  color: var(--color-primary-black);
  text-align: center;
  max-width: 930px;
}
.partners__list {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  max-width: 970px;
}

.hype {
  max-width: 1170px;
  padding: 80px 0;
}
.hype__content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  flex-wrap: nowrap;
}
.hype__overview {
}
.overview__title {
  @include header_t3;
  color: var(--color-primary-black);
  width: 100%;
  justify-self: center;
  text-align: center;
  margin-top: 80px;
}

.overview__content {
  width: calc(50% - 24px);
  margin-left: 24px;
}
.overview__rating {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  gap: 24px 12px;
}
.overview__author {
  @include body_text_p3_16;
  color: var(--color-primary-black);
}
.overview__stars {
  display: flex;
  align-items: center;
  gap: 8px;
  span {
    width: 15px;
    height: 15px;
  }
}
.overview__text {
  @include header_t7;
  color: var(--color-primary-black);
}
.hype__card {
  background-color: var(--color-secondary-white-smoke);
  border-radius: 18px;
  min-height: 633px;
}
.hype__card:first-child {
  width: calc(65% - 15px);
  padding: 20px 40px 20px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px 24px;
}
.hype__card:first-child > .card__image {
  width: calc(50% - 24px);
}
.hype__card:nth-child(2) {
  width: calc(35% - 15px);
}
.hype__card:nth-child(2) > .card__image {
  width: 100%;
  height: auto;
  min-height: 500px;
}
.card__image {
  padding: 20px;
  border-radius: 16px;
  background-color: var(--color-secondary-white-smoke);
  overflow: hidden;
  min-height: 440px;
  position: relative;
  img {
    border-radius: 8px;
  }
}
.card__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 63px 24px 24px;
  gap: 15px;
}
.card__description {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.card__title {
  @include body_text_p3_16;
  color: var(--color-primary-black);
}
.card__subtitle {
  @include body_text_p4_14;
  color: var(--color-primary-black);
}
.card__button {
  padding: 17px 24px;
  background-color: var(--color-secondary-white);
  @include body_text_p3_16;
  color: var(--color-primary-black);
  border-radius: 32px;
}
@media (max-width: 991px) {
  .hype__card {
    &:first-child {
      width: 100%;
      flex-wrap: wrap;
      padding-right: 0;
      .card__image {
        width: 100%;
      }
      .overview__text {
        margin-bottom: 50px;
      }
    }
    &:last-child {
      width: auto;
      min-height: auto;
      max-width: 100%;
      .card__image {
        aspect-ratio: 2.2/3;
        min-height: auto;
      }
    }
  }
  .hype__content {
    flex-wrap: wrap;
  }
}
@media (max-width: 768px) {
  .overview__title {
    @include header_t5;
    margin-top: 40px;
  }
  .overview__content {
    margin: 20px;
    width: 100%;
  }
}
@media (max-width: 576px) {
  .partners {
    &__list {
      flex-wrap: wrap;
      align-items: center;
    }
    li {
      width: 100%;
      text-align: center;
    }
  }
  .overview__title {
    @include header_t6;
  }
  .overview__text {
    @include body_text_p1_20;
  }
}
@media (max-width: 480px) {
  .hero {
    padding: 34px 0;
  }
  .partners {
    padding: 60px 40px;
    gap: 30px;
    &__title {
      font-size: 30px;
    }
    &__list {
      gap: 5px;
      img {
        max-width: 80px;
      }
    }
  }
  .overview__title {
    @include header_t7;
  }
}
@media (max-width: 380px) {
  .hero {
    height: 400px;
    padding: 34px 0;
  }
  .partners {
    padding: 40px 10px;
    &__title {
      font-size: 25px;
      line-height: 30px;
    }
    &__list {
      gap: 1px;
      img {
        max-width: 60%;
      }
    }
  }
  .hype {
    padding: 20px 0;
    &__card {
      &:first-child {
        gap: 24px;
        .overview__text {
          @include body_text_p2_18;
          margin-bottom: 20px;
        }
        img {
          border-radius: 0;
        }
      }
    }
    &__content {
      gap: 10px;
    }
  }
  .card__image {
    min-height: 300px;
  }
  .overview__title {
    @include header_t8;
    margin-top: 20px;
  }
}
