.wrapper {
  display: flex;
  border: 1px solid var(--color-grey-300);
  border-radius: 8px;
  align-items: center;
  width: auto;
  margin-top: 20px;
}
.column {
  flex-direction: column;
  .label {
    width: 100%;
  }
}
.label {
  width: 50%;
  color: var(--color-secondary-steel);
  label {
    display: block;
    padding: 12px 26px;
    width: 100%;
    cursor: pointer;
  }
}
.label_active {
  color: var(--color-primary-black);
  border: 1px solid var(--color-primary-black);
  border-radius: 8px;
}
.label:hover {
  cursor: pointer;
  background-color: var(--color-grey-100);
}
.label_active:hover {
  cursor: not-allowed;
  background-color: var(--color-secondary-white);
}
.label:first-of-type {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.label:last-of-type {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.input {
  display: none;
}
