.icon path {
  stroke: var(--color-primary-black);
  opacity: 0.7;
  transition: 0.4s;
}
.icon:hover.icon path {
  opacity: 1;
  transition: 0.4s;
}
.icon {
  padding: 5px;
  border: 1px solid transparent;
  box-sizing: content-box;
  border-radius: 10px;
  transition: 0.4s;
}
.icon:hover {
  border-color: var(--color-primary-black);
  transition: 0.4s;
  cursor: pointer;
}
