.container {
  width: 50%;
  height: 500px;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.thumb {
  width: auto;
  height: 50px;
  background-color: grey;
  opacity: 0.7;
  cursor: pointer;
  img {
    width: 100%;
    height: 100%;
  }
  &_active {
    border: 2px solid black;
    opacity: 1;
  }
}
.thumbs_container {
  height: 100%;
  margin: 0;
  flex: 1 0 auto;
}
.thumbs_wrapper {
  align-items: flex-end;
}
.slider_container {
  aspect-ratio: 2/3;
  margin: 0;
  flex: 0 1 auto;
}
.slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.slide img {
  display: block;
  width: 100%;
  height: auto;
}
.prev {
  left: 10px;
}
.next {
  right: 10px;
}
.control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: var(--color-grey-700);
  cursor: pointer;
  width: 20px;
  height: 20px;
  border: 1px solid var(--color-grey-700);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}
.button__disabled {
  opacity: 0.2;
  cursor: not-allowed;
}
@media (max-width: 768px) {
  .container {
    height: 300px;
  }
}
@media (max-width: 576px) {
  .container {
    height: 500px;
    width: 100%;
  }
  .thumbs_container {
    display: none;
  }
}
