@import '../../../styles/mixins/typography.module';
@mixin label--error {
  top: 0;
  background-color: white;
  padding: 10px;
  color: var(--color-other-orangy-red);
  transition: 0.2s;
  z-index: 5;
}
@mixin label--valid {
  top: 0;
  background-color: white;
  padding: 10px;
  color: var(--color-other-dodger-blue);
  transition: 0.2s;
  z-index: 5;
}
.wrapper {
  @include body_text_p3_16;
  color: var(--color-grey-500);
  position: relative;
  width: 100%;
}
.label {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  transition: 0.2s;
  z-index: -1;
  text-transform: capitalize;
  &__wrapper {
    position: relative;
  }
}
.field {
  width: 100%;
  padding: 17px 20px;
  border: 1px solid var(--color-grey-300);
  border-radius: 17px;
  background-color: transparent;
  text-align: left;
  &:focus,
  &:active {
    border-color: var(--color-grey-700);
    color: var(--color-primary-black);
    & + .label {
      top: 0;
      background-color: white;
      padding: 10px;
      color: var(--color-primary-black);
      transition: 0.2s;
      z-index: 5;
    }
  }
  &_error {
    animation: errorAnimation 0.2s linear;
    animation-iteration-count: 2;
    border-color: var(--color-other-orangy-red);
    color: var(--color-other-orangy-red);
    &:focus,
    &:active {
      border-color: var(--color-other-orangy-red);
      color: var(--color-other-orangy-red);
      & + .label {
        @include label--error;
      }
    }
    & + .label {
      @include label--error;
    }
  }
  &_valid {
    border-color: var(--color-other-dodger-blue);
    color: var(--color-other-dodger-blue);
    &:focus,
    &:active {
      border-color: var(--color-other-dodger-blue);
      color: var(--color-other-dodger-blue);
      & + .label {
        @include label--valid;
      }
    }
    & + .label {
      @include label--valid;
    }
  }
  &::placeholder {
    opacity: 0;
  }
  &:not(:placeholder-shown) {
    background-color: white;
  }
}
.error {
  margin-top: 5px;
  color: var(--color-other-orangy-red);
  text-align: center;
}
.icon {
  width: 25px;
  height: 25px;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  svg {
    width: 100%;
    fill: var(--color-grey-500);
  }
}
