@import '../../../styles/mixins/typography.module';
.wrapper {
  background-color: var(--color-secondary-white);
  padding: 20px;
  display: flex;
  justify-content: center;
  z-index: 10;
}
.container {
  max-width: 1170px;
  width: 100%;
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: space-between;
  color: var(--color-primary-black);
  @include body_text_p3_16;
}
.nav_main__list {
  display: flex;
  align-items: center;
  gap: 24px;
}
.nav_main__item {
  color: inherit;
  opacity: 0.5;
  transition: all 0.4s;
}
.nav_main__item:hover {
  opacity: 1;
  transition: all 0.4s;
}
.nav_main__item_active {
  border-bottom: 1px solid var(--color-primary-black);
  opacity: 1;
}
.nav_main__item_active:hover {
  cursor: default;
}
.nav_right {
  display: flex;
  align-items: center;
  gap: 24px;
}
.button {
  display: none;
}
.background {
  display: none;
  opacity: 0;
  transition: 0.4s;
}
@media (max-width: 720px) {
  .button {
    order: -1;
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    background-color: transparent;
    cursor: pointer;
  }
  .button span {
    position: absolute;
    top: 50%;
    left: 0;
    background-color: var(--color-primary-black);
    width: 100%;
    height: 2px;
    opacity: 0.5;
    transition: all 0.6s;
  }
  .button::before,
  .button::after {
    content: '';
    position: absolute;
    left: 0;
    background-color: var(--color-primary-black);
    height: 2px;
    z-index: 10;
    opacity: 0.5;
    transition: all 0.6s;
  }
  .button::before {
    top: 0;
    width: 75%;
  }
  .button::after {
    bottom: 0;
    width: 60%;
  }
  .button:hover span {
    opacity: 1;
    transition: all 0.6s;
  }
  .button:hover::before {
    transform: translateX(35%);
    transition: all 0.6s;
    opacity: 1;
  }
  .button:hover::after {
    transform: translateX(60%);
    transition: all 0.6s;
    opacity: 1;
  }
  .nav_main {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.75);
    visibility: hidden;
    z-index: 1000;
  }
  .nav_main__list {
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    position: fixed;
    top: 0;
    left: -100%;
    width: 50%;
    min-width: 300px;
    height: 100vh;
    background-color: var(--color-primary-black);
    color: white;
    transition: all 0.4s;
  }
  .nav_main_open {
    visibility: visible;
  }
  .nav_main_open .nav_main__list {
    left: 0;
    transition: all 0.4s;
  }
}
.cart_icon {
  position: relative;
  span {
    position: absolute;
    padding: 5px;
    right: 1px;
    top: -2px;
    background-color: var(--color-primary-black);
    color: var(--color-secondary-white);
    width: 20px;
    height: 20px;
    border-radius: 100%;
    font-size: 12px;
    line-height: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
  }
  &:hover {
    span {
      background-color: var(--color-secondary-white);
      color: var(--color-primary-black);
      border: 1px solid var(--color-primary-black);
      transition: background-color 0.3s;
    }
  }
}
@media (max-width: 576px) {
  .nav_main_open .nav_main__list {
    width: 100vw;
  }
  .wrapper {
    gap: 5px;
  }
  .nav_right {
    gap: 10px;
  }
}
@media (max-width: 435px) {
  .container {
    gap: 5px;
  }
}
@media (max-width: 380px) {
  .container {
    gap: 5px;
    @include body_text_p5_12;
    li {
      svg {
        width: 20px;
        height: 20px;
        padding: 5px;
      }
    }
  }
}
