$products-gap: 20px;
@mixin product {
  width: calc((100% / 3) - ((3 - 1) * $products-gap/3));
  height: auto;
  @media (max-width: 1100px) {
    width: calc((100% / 2) - ((2 - 1) * $products-gap/2));
  }
  @media (max-width: 576px) {
    width: 100%;
  }
}
.wrapper {
  width: 50%;
}
.container {
  padding: 20px;
  flex: 1 0 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: $products-gap;
}
.product {
  @include product;
}
