.wrapper {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-content: flex-start;
}
.title {
  width: 100%;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 50px;
  padding-bottom: 50px;
  border-bottom: 1px solid var(--color-secondary-steel);
}
