@import '../../../styles/mixins/typography.module';
.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}
.item {
  position: relative;
  &:hover {
    cursor: pointer;
  }
  .label {
    display: flex;
    align-items: center;
    gap: 10px;
    &:hover {
      cursor: pointer;
    }
    &__text {
      &:hover {
        cursor: pointer;
      }
    }
    &__select {
      padding: 2px;
      width: 15px;
      height: 15px;
      border: 1px solid rgba(#02021dff, 0.3);
      border-radius: 2px;
      position: relative;
      .icon {
        display: none;
        position: absolute;
        top: -4px;
      }
    }
  }
  input {
    display: none;
  }
  input[type='checkbox']:checked + label {
    .icon {
      display: block;
    }
  }
}
.more {
  @include body_text_p5_12;
  font-weight: bold;
  display: flex;
  gap: 10px;
  padding: 0 10px 5px 10px;
  &:hover {
    cursor: pointer;
  }
}
