@mixin header_t1 {
  font-family: var(--font-noto);
  font-size: 72px;
  line-height: 80px;
  font-weight: bold;
}
@mixin header_t2 {
  font-family: var(--font-noto);
  font-size: 66px;
  line-height: 74px;
  font-weight: bold;
}
@mixin header_t3 {
  font-family: var(--font-noto);
  font-size: 56px;
  line-height: 64px;
  font-weight: bold;
}
@mixin header_t4 {
  font-family: var(--font-noto);
  font-size: 48px;
  line-height: 56px;
  font-weight: bold;
}
@mixin header_t5 {
  font-family: var(--font-noto);
  font-size: 40px;
  line-height: 46px;
  font-weight: bold;
}
@mixin header_t6 {
  font-family: var(--font-noto);
  font-size: 36px;
  line-height: 40px;
  font-weight: bold;
}
@mixin header_t7 {
  font-family: var(--font-noto);
  font-size: 28px;
  line-height: 32px;
  font-weight: bold;
}
@mixin header_t8 {
  font-family: var(--font-noto);
  font-size: 24px;
  line-height: 28px;
  font-weight: bold;
}

@mixin body_text_p1_20 {
  font-family: var(--font-poppins);
  font-size: 20px;
  line-height: 24px;
}
@mixin body_text_p2_18 {
  font-family: var(--font-poppins);
  font-size: 18px;
  line-height: 22px;
}
@mixin body_text_p3_16 {
  font-family: var(--font-poppins);
  font-size: 16px;
  line-height: 20px;
}
@mixin body_text_p4_14 {
  font-family: var(--font-poppins);
  font-size: 14px;
  line-height: 18px;
}
@mixin body_text_p5_12 {
  font-family: var(--font-poppins);
  font-size: 12px;
  line-height: 16px;
}
@mixin underline_text_u1 {
  font-family: var(--font-poppins);
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  text-decoration: underline;
}
@mixin underline_text_u2 {
  font-family: var(--font-poppins);
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  text-decoration: underline;
}
@mixin underline_text_u3 {
  font-family: var(--font-poppins);
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  text-decoration: underline;
}
