@import '../../styles/mixins/typography.module';
.wrapper {
  width: 100%;
  color: var(--color-primary-black);
}
.container {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 30px;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 30px;
  width: 50%;
  max-width: 400px;
  .header {
    color: var(--color-primary-black);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
    &_container {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }
  }
  .title {
    @include body_text_p1_20;
  }
  .content_rating {
    display: flex;
    gap: 10px;
    @include body_text_p4_14;
    flex: 1 0 auto;
  }
  .stars {
    display: flex;
    gap: 8px;
  }
  .reviews {
  }
  .price {
    @include header_t8;
  }
}
.colors {
  display: flex;
  flex-direction: column;
  gap: 12px;
  &_title {
    @include body_text_p3_16;
  }
  &_container {
    display: flex;
    gap: 8px;
  }
  &_item {
    border-radius: 100%;
    background-color: green;
    width: 24px;
    height: 24px;
    cursor: pointer;
    border: 1px solid black;
    transition: 0.4s;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 5;
      width: calc(90% + 1px);
      height: calc(90% + 1px);
      border: 1px solid transparent;
      border-radius: 100%;
      transition: 0.2s;
    }
    &:hover {
      &::before {
        transition: 0.4ms;
        border-color: white;
        -webkit-box-shadow: 0px 0px 0px 2px var(--color-primary-black);
        -moz-box-shadow: 0px 0px 0px 2px var(--color-primary-black);
        box-shadow: 0px 0px 0px 2px var(--color-primary-black);
      }
    }
    &__active {
      position: relative;
      &:hover {
        transform: scale(1);
        &::before {
          -webkit-box-shadow: none;
          -moz-box-shadow: none;
          box-shadow: none;
          border-color: black;
        }
      }
      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 5;
        width: calc(90% + 1px);
        height: calc(90% + 1px);
        border: 1px solid black;
        border-radius: 100%;
      }
      border: 1px solid white;
      -webkit-box-shadow: 0px 0px 0px 2px var(--color-primary-black);
      -moz-box-shadow: 0px 0px 0px 2px var(--color-primary-black);
      box-shadow: 0px 0px 0px 2px var(--color-primary-black);
      cursor: default;
    }
  }
}
.sizes {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  &_header {
    display: flex;
    justify-content: space-between;
    @include body_text_p3_16;
  }
  &_title {
    color: var(--color-primary-black);
  }
  &_guide {
    color: var(--color-secondary-steel);
  }
}
.button {
  align-self: center;
}
.freeShipping {
  @include body_text_p4_14;
  align-self: center;
}
.description {
  @include body_text_p3_16;
}
.rating {
  margin-top: 80px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-bottom: 40px;
  border-bottom: 1px solid var(--color-grey-500);
  &_title {
    width: 100%;
    @include header_t4;
    text-align: center;
  }
  &_content {
    display: flex;
    flex: 1 0 auto;
    gap: 30px;
    width: 100%;
  }
  &_numbers {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    span {
      @include header_t3;
    }
  }
  &_reviewsAmout {
    @include body_text_p4_14;
  }
}
.rating_line {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  position: relative;
  .line {
    background-color: var(--color-grey-500);
    height: 1px;
    width: 100%;
    position: relative;
    &::before,
    &::after {
      content: '';
      position: absolute;
      height: 32px;
      width: 1px;
      background-color: var(--color-grey-500);
      top: 50%;
      transform: translateY(-50%);
    }
    &::before {
      left: 0;
    }
    &::after {
      right: 0;
    }
    &_poor,
    &_perfect {
      bottom: -50px;
      position: absolute;
    }
    &_poor {
      left: 0;
    }
    &_perfect {
      right: 0;
    }
  }
  .circle {
    width: 20px;
    height: 20px;
    background-color: var(--color-primary-black);
    border-radius: 100%;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
  }
}
@media (max-width: 576px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
  .content {
    width: 100%;
  }
  .rating {
    &_content {
      flex-direction: column;
      padding-bottom: 50px;
    }
    &_title {
      @include body_text_p2_18;
      margin-bottom: 20px;
    }
    &_numbers {
      span {
        @include header_t5;
      }
    }
  }
}
